{% extends "base/navbar.html" %}
{% load app_filters %}

{% block content %}

    <title>HealthNet - Profile Update</title>

    <h1>Update Admin Profile</h1>

    <div id="form-container">
    <form id="user_form" class='form-center' method="post" action="{% url 'profile:adminUpdate' admID %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        {{ user_form.as_p }}
        {{ personForm.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input class='confirm right' type="submit" name="submit" value="Update"/>
        {% if request|currUser:user %}
        <a class='delete' href="{% url 'profile:viewProfile' %}">Return to profile</a>
        {% else%}
        <a class='neutral' href="{% url 'profile:viewAllPersonnel' %}">Cancel</a>
        {% endif %}
    </form>
    </div>
    <br><br>
{% endblock content %}

{% block scripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            // Add the active class
            $('li[data-item="hospital"]').addClass("active");
        });
    </script> 

{% endblock scripts %}
