{% extends "base/navbar.html" %}

{% block content %}
    <!-- Set the title of the page to be what is on the page -->
    <title>HealthNet - Preferred Hospitals</title>

    <div id='form-container'>
    <form id="Update Preferred Hospitals" method="post" action="{% url 'profile:updatePreferredHospitals' patient.id %}">
        {% csrf_token %}
        <h3>What hospital would you prefer to visit? </h3>
            {{ form.as_p }}
            <a class='neutral' href="{% url 'profile:viewProfile' %}">Cancel</a>
            <input class='confirm' type="submit" name='submit' value="Update hospitals"/>
        </form>
    </div>

{% endblock content %}

